<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY-TODO-APP</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box">
        <h1 id="heading"> <%= todayDate %> </h1>
    </div>
    <div class="box">
        <ul>
        
            <% items.forEach(element => { %>
                <li class="item"> <input type="checkbox" value=""> <p> <%= element %> </p></li>
            <% }); %>
        </ul>

        <form class = "item" action="" method="post">
            <input type="text" name="new_item" id="" placeholder="New Item" autocomplete="off">
            <button type="submit">+</button>
        </form>

    </div>

    <footer>There are no secrets to success.</footer>
    

    
</body>
</html>